<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notie.min.css') }}">
    <title>Feature Request App</title>
    <style>
        .notie-container {
            z-index: 5000 !important;
        }
        body > .container {
           padding: 60px 15px 0;
        }
        .back-to-top {
            cursor: pointer;
            position: fixed;
            bottom: 20px;
            right: 20px;
            display:none;
        }
        /* .datepicker-container {
            z-index: 5000 !important;
        } */
        .my-handle:hover {
            cursor: grab;
        }
        .card .card-body {
            border-bottom: 1px solid #ddd;
        }
        [data-bind="text: description"] {
            max-height: 350px;
            overflow-y:auto;
        }
        /* .highlight-entry {
            border: 2px solid #007bff;
        } */
    </style>
    {{ JSGlue.include() }}
</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="d-lg-none">
                <span data-toggle="modal" data-target="#entryModal" class="text-light">
                    <a class="btn btn-success btn-sm"
                        data-toggle="tooltip" data-mode="add" role="button" title="Add Entry"
                    data-bind="click: setEmptyModal">
                    <i class="fa fa-plus"></i>
                </a>
                </span>
                <a class="btn btn-secondary btn-sm invisible" href="#"
                    role="button" title="Show Completed Items"
                    data-bind="click: showCompletedItems(true), visible: !showCompletedItems()">
                    <i class="fa fa-check"></i>
                </a>
                <a class="btn btn-secondary btn-sm invisible" href="#"
                    role="button" title="Show Active Items"
                    data-bind="click: showCompletedItems(false), visible: showCompletedItems">
                    <i class="fa fa-pencil"></i>
                </a>
                <a class="navbar-brand" data-bind="text: chosen_client_text,
                        attr: { href: '#'+chosen_client() }"></a>
            </div>
            <a class="navbar-brand d-none d-lg-block" href="/">Feature Request App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto" data-bind="foreach: available_clients">
                    <li class="nav-item" data-bind="css: {active: value == $root.chosen_client()},
                                                    click: $root.goToClient">
                        <a class="nav-link" href="#" data-bind="text: text"> <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0 d-none d-lg-block">
                    <a class="btn btn-secondary invisible" href="#"
                        role="button"
                        data-bind="click: showCompletedItems(true), visible: !showCompletedItems()">
                        <i class="fa fa-check"></i> Show Completed Items
                    </a>
                    <a class="btn btn-secondary invisible" href="#"
                        role="button"
                        data-bind="click: showCompletedItems(false), visible: showCompletedItems">
                        <i class="fa fa-pencil"></i> Show Active Items
                    </a>
                    <a class="btn btn-success" href="#entryModal"
                        data-toggle="modal" data-mode="add" role="button"
                        data-bind="click: setEmptyModal">
                        <i class="fa fa-plus"></i> Add Entry
                    </a>
                </form>
            </div>
        </nav>
    </header>


    <div role="main" class="container col-md-8 offset-md-2 invisible">
        <div class="activeItems" data-bind="visible: !showCompletedItems()">
            <div class="accordion mt-2" id="accordionItems" data-bind="foreach: active_entries">
                <div class="card mb-2">
                    <div class="card-header" data-bind="attr: { id: 'heading'+id }">
                        <div class="row">
                            <div class="col-12 col-md-8">
                                <h5 class="mb-0">
                                    <span class="badge badge-info my-handle"
                                        data-dragItem="priority"
                                        data-bind="text: priority">
                                    </span>
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" aria-expanded="true"
                                        data-bind="attr: { 'data-target': '#collapse'+id, 'aria-controls': '#collapse'+id }">
                                        <span data-bind="text: title"></span>
                                    </button>
                                </h5>
                            </div>
                            <div class="col-12  col-md-4">
                                <small class="float-right">
                                    Target: <span data-bind="text: target_date"></span>
                                    <div class="badge badge-primary" data-bind="text: product_area"></div>
                                </small>
                            </div>
                        </div>
                    </div>

                    <div data-bind="attr: { id: 'collapse'+id }" class="collapse" aria-labelledby="headingOne" data-parent="#accordionItems">
                        <div class="card-body">
                            <div data-bind="text: description"></div>
                            <hr>
                            <div class="row">
                                <div class="col-6">
                                    <a class="btn btn-outline-success btn-sm" href="#" role="button"
                                        data-bind="click: $root.completeRow"><i class="fa fa-check" aria-hidden="true"></i>
                                        Mark as Complete</a>
                                </div>
                                <div class="col-6 text-right">
                                    <a class="btn btn-outline-warning btn-sm" href="#entryModal"
                                        data-toggle="modal" data-mode="edit" role="button"
                                        data-bind="click: $root.loadSelectedItem"><i class="fa fa-pencil" aria-hidden="true"></i>
                                        Edit</a>
                                    <a class="btn btn-outline-danger btn-sm" href="#"role="button"
                                        data-bind="click: $root.removeRow"><i class="fa fa-times" aria-hidden="true"></i>
                                        Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-right" data-bind="visible: active_entries().length > 0">
                <small class="font-italic">* Priority number can be drag up/down</small>
            </p>
            <div class="alert alert-warning text-center" role="alert" data-bind="visible: active_entries().length == 0 && chosen_client()">
                <i class="fa fa-exclamation-triangle"></i> No records yet, try creating one
            </div>
        </div>

        <div class="completedItems" data-bind="visible: showCompletedItems()">
            <h4 class="alert alert-primary mt-2" role="alert">
                <i class="fa fa-check" aria-hidden="true"></i> Completed Items
            </h4>

            <div class="accordion mt-2" id="accordionItems2" data-bind="foreach: completed_entries">
                <div class="card mb-2">
                    <div class="card-header" data-bind="attr: { id: 'heading'+id }">
                        <div class="row">
                            <div class="col-12 col-md-8">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" aria-expanded="true"
                                        data-bind="attr: { 'data-target': '#collapse'+id, 'aria-controls': '#collapse'+id }">
                                        <span data-bind="text: title"></span>
                                    </button>
                                </h5>
                            </div>
                            <div class="col-12  col-md-4">
                                <small class="float-right">
                                    Target: <span data-bind="text: target_date"></span>
                                    <div class="badge badge-primary" data-bind="text: product_area"></div>
                                </small>
                            </div>
                        </div>
                    </div>

                    <div data-bind="attr: { id: 'collapse'+id }" class="collapse" aria-labelledby="headingOne" data-parent="#accordionItems2">
                        <div class="card-body">
                            <div data-bind="text: description"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-light text-center" role="alert" data-bind="visible: showLoader">
        Loading records, please wait...
    </div>


    <div class="modal fade" id="entryModal" tabindex="-1" role="dialog" aria-labelledby="entryModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form data-bind="submit: modalSubmit" method="POST" action="#" id="formSubmit">
                    <div class="modal-header">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="modal-title"><span data-bind="text: modal_title"></span> Feature Request</h5>
                            </div>
                            <div class="col-12">
                                <div class="badge badge-success" data-bind="text: chosen_client_text"></div>
                            </div>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>


                    </div>
                    <div class="modal-body" data-bind="with: selected_item_editable">
                        {{ form.csrf_token }}
                        {{ form.id(type="hidden", data_bind="value: id") }}
                        {{ form.client(type="hidden", data_bind="value: client") }}
                        <div class="form-group">
                            {{ form.product_area.label }}
                            <select name="product_area"
                                data-bind="attr: {class: 'custom-select', required: true},
                                options: $root.available_product_areas,
                                optionsCaption: 'Choose...',
                                optionsText: 'text',
                                optionsValue: 'value',
                                value: product_area">
                            </select>
                        </div>
                        <div class="form-group">
                            {{ form.priority.label }}
                            {{ form.priority(type="number", class="form-control",
                                    placeholder="Enter 1 if you want this to be the top priority, or blank to place this at the last",
                                    min="1", step="1",
                                    data_bind="value: priority") }}
                        </div>
                        <div class="form-group">
                            {{ form.title.label }}
                            {{ form.title(class="form-control",
                                    minlength=3,
                                    maxlength=50,
                                    data_bind="value: title",
                                    required=True) }}
                        </div>
                        <div class="form-group">
                            {{ form.description.label }}
                            {{ form.description(class="form-control",
                                    minlength=5,
                                    rows=3,
                                    data_bind="value: description",
                                    required=True) }}
                        </div>
                        <div class="form-group">
                            {{ form.target_date.label }} <small>(click the field to change)</small>
                            <div class="input-group">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-secondary docs-datepicker-trigger">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </button>
                                </div>
                                {{ form.target_date(class="form-control",
                                    data_bind="value: target_date",
                                    required=True,
                                    autocomplete="off",
                                    readOnly=True,
                                    placeholder="Pick a date") }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <a id="back-to-top" href="#" class="btn btn-secondary btn-md back-to-top" role="button" title="Back to top" data-toggle="tooltip" data-placement="left"><span class="fa fa-chevron-up"></span></a>


    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notie.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-with-locales.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/knockout-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sortable.js') }}"></script>
    <script src="{{ url_for('static', filename='js/knockout-sortable.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        let startDate = moment().format('L');

        $(function () {
            $('[data-toggle="datepicker"]').datepicker({
                autoHide: true,
                autoPick: true,
                date: startDate,
                startDate: startDate,
                zIndex: 1000,
                trigger: '.docs-datepicker-trigger',
            });
            $('[data-toggle="tooltip"]').tooltip();
        });


        // Class to represent a row
        function FeatureRequestRow(data) {
            var self = this;
            self.id = data.id;
            self.priority = ko.observable();
            self.title = ko.observable();
            self.description = ko.observable();
            self.target_date = ko.observable();
            self.client = ko.observable();
            self.product_area = ko.observable();

            self.update = function(data) {
                self.priority(data.priority);
                self.title(data.title);
                self.description(data.description);
                self.target_date(data.target_date);
                self.client(data.client);
                self.product_area(data.product_area);
            }

            self.update(data);
        }


        // Overall viewmodel for this screen, along with initial state
        function FeatureRequestsViewModel() {
            var self = this;

            //----------------
            // Selections
            //----------------
            let data_choices = JSON.parse("{{ data_choices|safe }}".replace(/'/g, '"'));
            self.available_clients = data_choices.clients;
            self.available_product_areas = data_choices.product_areas;

            //----------------
            // Main entries fields
            //----------------
            self.active_entries = ko.observableArray([]);
            self.completed_entries = ko.observableArray([]);
            self.chosen_client = ko.observable();
            self.showLoader = ko.observable(true);
            self.showCompletedItems = ko.observable(false); // active|completed

            //----------------
            // Modal fields
            //----------------
            self.modal_title = ko.observable();
            self.selected_item = ko.observable();
            self.selected_item_editable = ko.observable();

            //----------------
            // Computed data
            //----------------
            self.modal_title = ko.computed(function() {
                if (self.selected_item_editable())
                    return self.selected_item_editable().id == 0? 'New': 'Edit';
                return '';
            });
            self.chosen_client_text = ko.computed(function() {
                let elementPos = self.available_clients.map(function(x) {return x.value; }).indexOf(self.chosen_client());
                if (elementPos >= 0)
                    return self.available_clients[elementPos].text;
                return '';
            });

            //----------------
            // Utilities
            //----------------
            function loadDefaultClient() {
                let defaultClient = location.hash.replace('#', '');
                if (defaultClient == '')
                    self.goToClient(self.available_clients[0]);
                else {
                    let elementPos = self.available_clients.map(function(x) {return x.value; }).indexOf(defaultClient);
                    if (elementPos >= 0)
                        self.goToClient(self.available_clients[elementPos]);
                }
            }
            function ajaxGet() {
                $.getJSON("/feature-requests/"+self.chosen_client(), function(data) {
                    // let entries = $.map(data, function(item) { return new FeatureRequestRow(item) });
                    let active_entries = [];
                    let completed_entries = [];
                    $.each(data, function (ctr, item) {
                        if (item.priority > 0) active_entries.push(new FeatureRequestRow(item));
                        else completed_entries.push(item);
                    });
                    self.active_entries(active_entries);
                    self.completed_entries(completed_entries);
                    self.showLoader(false);
                    $('.invisible').removeClass('invisible');
                    if ($('.navbar-collapse').hasClass('show')) $('.navbar-toggler').click();
                });
            }
            function ajaxPost(options) {
                // url, params, success_callback, success_message
                $.post(options.url, options.params, function (response) {
                    if (response.success) {
                        options.success_callback(response);
                        notie.alert({type: 'success', text: '<i class="fa fa-check" aria-hidden="true"></i> '+ options.success_message});
                    }
                    else {
                        let errors = 'Check for the following errors:';
                        $.each(response.errors, function(i, item) {
                            errors += '<br>* '+ i +': '+ item;
                        });
                        notie.alert({type: 'error', text: '<i class="fa fa-exclamation-circle" aria-hidden="true"></i> '+ errors, stay: true});
                    }
                }).fail(function () {
                    notie.alert({type: 'error', text: '<i class="fa fa-exclamation-circle" aria-hidden="true"></i> Processing failed, please try again later', stay: true});
                }).always(function() {

                });
            }

            //----------------
            // Events
            //----------------
            self.modalSubmit = function() {
                if (typeof self.selected_item_editable().priority() == 'undefined' || self.selected_item_editable().priority() == '')
                    self.selected_item_editable().priority(self.active_entries().length + 1);
                ajaxPost({
                    url: "{{ url_for('main.index') }}",
                    params: $('#formSubmit').serialize(),
                    success_callback: function(response) {
                        let selected_item = self.selected_item(),
                            updatedItem = ko.toJS(self.selected_item_editable());
                        if (response.update_priority) {
                            // refresh listing / insert mode
                            ajaxGet();
                            self.setEmptyModal();
                        }
                        else {
                            // edit mode
                            selected_item.update(updatedItem);
                        }
                    },
                    success_message: 'Saving Successful'
                });
            }
            self.setEmptyModal = function() {
                self.selected_item_editable(new FeatureRequestRow({
                    id: 0,
                    client: self.chosen_client(),
                    target_date: startDate
                }));
            }
            self.loadSelectedItem = function(item) {
                self.selected_item(item);
                self.selected_item_editable(new FeatureRequestRow(ko.toJS(item)));
            }
            self.removeRow = function(item) {
                notie.confirm({ text: 'Are you sure to delete this record? <br>"'+ item.title() +'"' }, function() {
                    ajaxPost({
                        url: Flask.url_for("main.delete", {"id": item.id}),
                        params: {csrf_token: "{{ csrf_token() }}"},
                        success_callback: function() {
                            ajaxGet();
                        },
                        success_message: 'Selected record has been deleted'
                    });
                });
            }
            self.completeRow = function(item) {
                notie.confirm({ text: 'Mark this record as complete? <br>"'+ item.title() +'"' }, function() {
                    ajaxPost({
                        url: Flask.url_for("main.complete", {"id": item.id}),
                        params: {csrf_token: "{{ csrf_token() }}"},
                        success_callback: function() {
                            ajaxGet();
                        },
                        success_message: 'Selected record has been completed'
                    });
                });
            }
            self.dragNewPriority = function(current_priority, new_priority) {
                ajaxPost({
                    url: "{{ url_for('main.update_priority') }}",
                    params: {
                        csrf_token: "{{ csrf_token() }}",
                        client: self.chosen_client(),
                        current_priority: current_priority,
                        new_priority: new_priority
                    },
                    success_callback: function() {
                        ajaxGet();
                    },
                    success_message: 'Priority has been updated'
                });
            }
            self.goToClient = function(item) {
                self.showLoader(true);
                location.hash = item.value;
                self.chosen_client(item.value);
                ajaxGet();
            }

            //----------------
            // Onload Event
            //----------------
            loadDefaultClient();
        }
        var fr_model = new FeatureRequestsViewModel();
        ko.applyBindings(fr_model);


        //---------------- [BACK TO TOP] ---------------------
        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 500);
            return false;
        });


        //---------------- [JQUERY DRAGGABLE] ---------------------
        var sortable_items = document.getElementById('accordionItems');
        Sortable.create(sortable_items, {
            handle: ".my-handle",
            onEnd: function (evt) {
                fr_model.dragNewPriority(evt.oldIndex+1, evt.newIndex+1);
                $(evt.item).remove();
            },
        });
    </script>
</body>

</html>

<!-- TODO
    - completed/active items -> should be button dropdown
    ------------- can accept empty priority => will assign last priority on backend
    ------------- draggable/sortable item rows
    ------------- client dropdown should come from model
    ------------- product area dropdown should come from model
    ------------- priority should be ???
    ------------- main records retrieval should be ajax, filtered already by selected client
    - BUG!! datepicker not showing
    - [mark as complete] feature
    ------------- single page app, add # on end of url
    ------------- change alert into toastr notification
-->